.rec1{
    
    width: 21px;
    height: 1px;
    background-color: white;

}
.left
{
    display: flex;
   gap: 35px;
}
.search-bar
{
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    
   
}
.search-input
{
    width: 600px;
    height: 35px;
    background-color:#212121 ;
    color: white;
    font-size: inherit;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
border-color: #54575a;
}
.search-bar img{
    background-color:rgb(50, 51, 51);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 35px;
    height: 37px; 
}
.rects
{
    display: flex;
    gap: 5px;
    flex-direction: column ;
    margin-top: 6.4px;
}
body{
 background-color: #0b0b0b;
}
.imag img
{

    height: 20px;
    width: ;
}
.micic img{
    background-color:rgb(50, 51, 51);
   border-radius: 50%;
   color: white;
     height: 35px;
    width: 30.5px;
}
.head{
    display: flex;
    justify-content: space-between;
    

    }
.midle
{
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(34, 35, 35);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.btn:hover {
    background-color: #54575a;
    .icon{
        background-color: #54575a;
    }
}

.icon {
    width: 20px;  
    background-color:rgb(34, 35, 35);
    height: 20px;
    margin-right: 10px;  
    
}

span {
    font-weight: bold;
}
.right{
    display: flex;
}
.bell
{
border: 0;
    background-color: #0b0b0b;
}
.bell:hover {
    background-color: #54575a;
    border-radius: 50px;
}
.small img
{
    border-radius: 50%;
    height: 35px;
    width: 40px;
}
.right
{
    display: flex;
    gap: 10px;
}


.cat-section {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
   
    margin-bottom: 40px;
}

.category {
    margin-right: 1rem;
    white-space: nowrap;
    border: 1px ;
    border-radius: 9px;
    background-color: #343435;
    cursor: pointer;
    color: white;
    padding: .5rem 1rem;
    font-size: inherit;
    height: 35px;
    font-size: small;
    width: 105px;
    justify-content: center;       /* Centrer le texte horizontalement */
    align-items: center;   
}

.category:hover {
    background-color: #a8a8a8; /* couleur de fond légèrement différente quand on survole */
    color: #282828;
}
.ytb-vid img{
    height: 200px;
    width: 320px;
    border-radius: 7px;
}
.maman-vids img
{

    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.maman-vids h1{
    margin-top: 0px;
}
.ness
{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.zidi{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.maman-vids
{
    display: flex;
    gap: 15px;
    margin-top: 9px;
    margin-bottom: 33px;
    
} 
.videos{
    display: flex;
    gap: 15px;
}
.ktaba h2{
    margin-top: 3px;
    color: rgb(191, 191, 191);
    font-size: x-small;
    margin-bottom: 0px;
    font-family:Arial, Helvetica, sans-serif;

}
.ktaba h1{
    font-size: small ;
    color: white;
   margin-bottom: 0px;
   font-family:Arial, Helvetica, sans-serif;
}

.things h1{
   color: white; 
   font-size: 0.7777rem;
    line-height: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.things{
    display: flex;
    gap: 30px;
    margin-top: 2px;
    margin-bottom: 0px;
}   



hr {
    border: none; 
    height: 0.1px;
    width: 200px;  
    background-color: #6b6867; 
    margin-top: 4px;
    margin-bottom: 0.5px;
  
}

.thingss h1{
    color: white; 
    font-size:17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     line-height: 2rem;
     font-weight: 500;
    
 }
 .thingss{
    display: flex;
    gap: 10px;
}
.ktaba{
    display: flex;
    flex-direction: column;
    gap: 4px;
}